/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;
  --ifm-color-primary-black: #7b7f8a;
  --ifm-code-font-size: 90%;
  --ifm-code-border-radius: 0;
  --ifm-alert-border-radius: 0;

  font-family: 'Open Sans', sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme='dark'] {
  --ifm-background-color: #20232A;
  --ifm-background-surface-color: #1c1d22;
}

h1 {
  font-size: 2.5rem !important;
  font-weight: normal;
}

h2 {
  font-size: 2rem !important;
  font-weight: normal;
}

h3 {
  font-size: 1.8rem !important;
  font-weight: normal;
}

h4 {
  font-size: 1.5rem !important;
  font-weight: normal;
}

h5 {
  font-size: 1.3rem !important;
  font-weight: normal;
}

h6 {
  font-size: 1rem !important;
  font-weight: normal;
}

.footer {
  background: var(--ifm-background-surface-color);
}

.footer .row .footer__title {
  text-transform: uppercase;
  color: var(--ifm-color-primary-black);
}

.table-of-contents {
  padding-left: 1rem;
}

.table-of-contents__link--active {
  color: inherit;
  font-weight: bold;
  border-left: .3rem solid var(--ifm-color-primary);
  padding-left: .5rem;
  margin-left: -.8rem;
  letter-spacing: 1px;
}

.menu li {
  margin-right: 8px;
}

.prism-code,
.codeBlockTitle_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
  border-left: .3rem solid var(--ifm-color-primary);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

img[alt="logo_module"] {
  width: 200px;
  float: right;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url(/img/github_logo_light.svg) no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url(/img/github_logo_dark.svg) no-repeat;
}

.header-moodle-link:hover {
  opacity: 0.6;
}

.header-moodle-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url(/img/moodle_logo_light.svg) no-repeat;
}

html[data-theme='dark'] .header-moodle-link:before {
  background: url(/img/moodle_logo_dark.svg) no-repeat;
}

img[alt="RAID"] {
  height: 300px;
  width: auto;
}

img[alt="PHPLogo"] {
  width: 150px;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

code {
  font-family: 'Fira Code', monospace !important;
}